.background
   background-color: $colors['fundo']
   background-image: url(../img/background.png)
   background-position: top center
   background-repeat: no-repeat
   background-size: cover

.texto-home
    text-transform: uppercase
    font-size: 35px;
    text-align: center
    margin-top: 100px
    line-height: 1.4


#content
    padding remify(40px) remify(20px)

@media screen  and (max-width: $queries['small'])
    .texto-home
        text-transform: uppercase
        font-size: 25px;
        margin-top: 10px
        text-align: center
        margin-top: 20px
        line-height: 1.4
