.background
   background-color: $colors['fundo']
   background-image: url(../img/background.png)
   background-position: top center
   background-repeat: no-repeat
   background-size: cover

.texto-home
    text-transform: uppercase
    font-size: 35px;
    text-align: center
    margin-top: 100px
    line-height: 45px

