.background
   background-color: $colors['fundo']
   background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/background.png)
   background-position: top center
   background-repeat: no-repeat
   background-size: cover

.background-content
    @extends .background
    background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/background-content.jpg)
    background-size: auto;
    background-attachment: fixed;


.inter-w
    width 50px

#icone-interrogacao
    cursor pointer
.popLeft
    @extends .bg-inverse
    display none
    position: absolute;
    padding: 30px 10px;
    text-align: center;
    width: 150px;
    right: -190px;
    top: -20px;
    line-height 1
    z-index 9
    img 
        position: absolute;
        left: -12px;
        top: 25px;

.texto-home
    text-transform: uppercase
    font-size: 35px;
    text-align: center
    margin-top: 100px
    line-height: 1.4

#bannersGalery
    margin 0 remify(-120px)
.control-text-mapa
    padding remify(100px) remify(60px)
    padding-left: remify(180px)

.control-text-infraestrutura
    @extends .control-text-mapa
    padding-bottom: 0



.icon-image
    margin-top 80px

#content
    padding remify(40px) remify(20px)

.img-planta
    border: 1px solid #41babb
    margin: auto
    margin-bottom: 50px
    padding: 10px

.img-center
    text-align: center

.texto-planta
    margin-left: 10%

.video
    padding: 50px 100px

.pd-video
    padding-bottom: 300px

.infra-img
    margin-top: -50px


.image-banner-infra
    background-position: center center
    background-size: cover
    h3 
        display inline
        text-transform: uppercase
        font-size: remify(50px)
    .over-texto
        display flex
        width 100%
        height 100%
        opacity 0
        background-color: alpha(darken($colors['fundo'], 30%), 0.9)
        justify-content: center
        padding remify(200px) 0
        transition: 1s
        flex-direction: column
        & > *
            align-self: center
    &:hover .over-texto
        padding remify(200px) 0
        opacity 1
       


.agenda-itens
    div
        margin-top 15px

.img-agenda
    background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/agenda/img.png)
    background-position: center center
    background-size: cover
    height 230px
    position: relative
    p
        font-size: 20px
        opacity: 0
        position: absolute
        bottom: 0
        width: 100%
        text-align: center
        background-color: #010201
        padding-top: 10px
        transition: 1s
    &:hover p
        opacity: 1

.img-diferenciais
    text-align: center
    img 
        margin: auto

hr
    border: 1px solid #3fb3b4

@media screen  and (max-width: 1392px )
    #bannersGalery
        margin 0 remify(-10px)

@media screen  and (max-width: $queries['medium'])
    .infra-img
        margin-top: 10px
        margin-bottom: 10px
    #bannersGalery
        margin 0 remify(0)
    .control-text-mapa
        padding remify(20px) remify(0)
        padding-left: remify(0)
    .control-text-infraestrutura
        padding remify(20px) remify(0)
        padding-left: remify(0)

@media screen  and (max-width: $queries['small'])
    .texto-home
        text-transform: uppercase
        font-size: 25px;
        margin-top: 10px
        text-align: center
        margin-top: 20px
        line-height: 1.4