.ir-topo
    width 50px
    height 50px
    background-color: $colors["oceano"]
    position fixed
    bottom 10px
    right: 10px
    cursor pointer

.logo-rodape
    padding remify(80px) 0

@media screen and (max-width: $queries['medium'])
    footer
        .copyright
            text-align: center
            img 
                margin: 0 auto
        .rede-sociais
            text-align: center
            margin: 30px 0
        .contato
            text-align: center

@media screen and (max-width: $queries['small'])
    footer
        padding: 60px 0 30px 0px 
        .copyright
        .rede-sociais
        .contato
        p
            font-size: 12px

