.ir-topo
    width 50px
    height 50px
    background-color: $colors["oceano"]
    position fixed
    bottom 10px
    right: 10px
    cursor pointer

.seta
    padding-top: 10px
    padding-left: 5px

footer
    bottom: 0
    width: 100%
    .contato
        text-align: left
        padding-left: 30px;
        padding-top: 20px;
        a
            color: $colors["oceano"]
    .icone-face
        text-align: right
        padding-right: 30px;

@media screen and (max-width: $queries['medium'])
    footer
        .copyright
            text-align: center
            img 
                margin: 0 auto
        .rede-sociais
            text-align: center
            margin: 30px 0
        .contato
            text-align: center

@media screen and (max-width: $queries['small'])
    footer
        padding: 60px 0 30px 0px 
        .copyright
        .rede-sociais
        .contato
        p
            font-size: 12px

