header
	height: auto
	

#topo
	width 100%
	top 0

.img-topo
	margin: auto

.icone-interrogacao
	margin-top: 50px
	margin-left: 30px

.icone-menu
	margin-top: 50px
	margin-right: 30px
	float: right

.logo-container
	padding: 15px 0


footer
	@extend .text-inverse
	p 
		@extend .light

#loader
	width: 100%
	height 100%
	z-index: 99999999
	display: flex
	position: fixed
	background-color: alpha(#fff, 1 );
	justify-content: center
	img 
		align-self: center
		animation: loader 2s infinite
	

.loader-img
	height 90px

@media screen  and (max-width: $queries['medium'])
	.icone-menu
	.icone-interrogacao
		position absolute
		margin-top: 0
		margin-left: 0
		left 0
		top 20px
	.icone-menu
		right 10px
		max-width: 50px

