#menu
    background-image: url(../img/menu/background.jpg)
    z-index 9999999999
    position: fixed
    width: 100%
    height 100%
    background-position: center center
    display: flex
    justify-content: center

.item-menu
    width: 100%
    max-width: 450px
    align-self: center
    text-align: center

.fechar
    margin: auto
    width: 25px;
    padding-bottom: 15px

.itens
    list-style: none
    font-family: 'Josefin Sans' ,serif
    text-transform: uppercase
    line-height: 30px
    border 1px solid #082136
    background: #082136
    width: 300px
    margin: auto
    padding: 100px 30px
    font-size: 12px
    a
        color: #fff
        transition: 1s
        &:hover
            color: $colors['oceano']

.logo-menu
   margin-top: 100px



