#menu
    background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/menu/background.jpg)
    z-index 9999999999
    position: fixed
    width: 100%
    height 100%
    background-position: center center
    display: flex
    justify-content: center  
    .item-menu
        width: 100%
        max-width: 450px
        align-self: center
        text-align: center
        &::after
            width: 100%
            content " "
            height 120px
            background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/menu/logo.png)
            position absolute
            margin-top 20px
            background-repeat: no-repeat
            left 0
            background-position: center center

.fechar
    margin: auto
    width: 25px;
    padding-bottom: 15px

.itens
    list-style: none
    font-family: 'Josefin Sans' ,serif
    text-transform: uppercase
    line-height: 30px
    border 1px solid #082136
    background: #082136
    width: 300px
    margin: auto
    padding: 100px 30px
    font-size: 12px
    a
        color: #fff
        transition: 1s
        &:hover
            color: $colors['oceano']

.logo-menu
   margin-top: 100px



