body
	font 100%
	font-family $fonts-family
	color: 		$font-color-default
	
p
	font-size: $font-size['medium']
	
blockquote
	border-left: 5px solid $colors['main']

.flex
	flexBox()


.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #20304f;
}
.slick-dots li button:before {
    font-family: slick;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #41babb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
