<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 45 46" style="enable-background:new 0 0 45 46;" xml:space="preserve">
<image style="overflow:visible;" width="38" height="38" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1
OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIiB4bXBNTTpJbnN0
YW5jZUlEPSJ4bXAuaWlkOjEyQTU1NTJDMUUyMTExRThCMkQ1RTRBQzMyNEY4NjZGIiB4bXBNTTpE
b2N1bWVudElEPSJ4bXAuZGlkOjEyQTU1NTJEMUUyMTExRThCMkQ1RTRBQzMyNEY4NjZGIj4gPHht
cE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MTJBNTU1MkExRTIxMTFF
OEIyRDVFNEFDMzI0Rjg2NkYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MTJBNTU1MkIxRTIx
MTFFOEIyRDVFNEFDMzI0Rjg2NkYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94
OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7LgpGpAAACLElEQVR42sxYv0vDQBROjohFRQSh
0MGK4iKi7R4VOri5WPxDXLu4OvsfOAoKLi2CDoVW99bFwR+VZJB2crDgUI3vlZdyxMTkckl7H3yQ
9Hp3X969e/fe6Y7jaDEwCywCS8BdYAGYpbYesA1sAOvAFrAvPAMKi0gduA1sOuJoUl896nxRRZnA
riOPLo0lLSwDrDrJo0pjB86t/+NjefKVBS0dfJBvWn6NLKDTBrCToiiNxu7QXH/gZ7E8dWDaePAD
XPFazissA3xP2VJBy5oDfrk/GJ4/XEqIwi8/Bz4Cv7nfj+mDw5YV5973i2OmxC47BRoBO8wSGMf0
hgtdIk5dh4QcSzDODd3LdXCTO1JEcZSgr2VJy8jHTiQGe/MJQYfAeXpfFBwPteyg2fBA/pQQhkL4
rb0KfJG03ByjLCFJJBH/igalLqIYAK8C2tD6F9z7gU9YCkMJl/IGHvYEO9p0QkQB5mIzguPfMjpI
0wKLIQpRYBJhIgqm44YNI2ZH3Mlr9PzsaZsCLtPzetwvGkZ8Sat5wwUKfpK0dI9RMqga2oyqGdXQ
YFRiqYY6o7pPNbQYBcA7hUShlr57rlUUElbhD9x7Ku0njR5pGQnDOFRWQFjZjYl8ioJKaxMUVXOt
lVT5tsmXXZQan8mWb34F7xLwNUYOFRcDynrtsGzTpqx2MCZRRa+oIIvxlntI+VJly09UWH5u07rX
UnL0XJAokRtF5S7uJnbVqat6OfwrwABo6B4OCMjXdgAAAABJRU5ErkJggg==" transform="matrix(1 0 0 1 3.5 4)">
</image>
</svg>
