#menu(style="display:none;")
    .item-menu
        a(href="#")
            img.fechar(src="img/menu/fechar.png", alt="Fechar")
        ul.itens.bold
            li 
                a(href="/") HOME
            li 
                a(href="sobre.html") ATTITUDE CONVENTION CENTER                       
            li 
                a(href="teaser.html") TEASER        
            li 
                a(href="planta.html") planta
            li 
                a(href="infraestrutura.html") Infraestrutura
            li 
                a(href="diferenciais.html") Diferenciais
            li 
                a(href="mapa.html") mapa
            li 
                a(href="agenda.html") agenda
            li 
                a(href="contato.html") contato
