extends ./_layouts/hot-content.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    .container
        .row.bg-inverse.mg-120-top
            article.col-sm-12#content
                h1.text-oceano.text-uppercase.texto-planta AGENDA
            .row
                .col-sm-4.img-agenda
                    p 9 a 11 de Abril
                .col-sm-4.img-agenda
                    p 9 a 11 de Abril
                .col-sm-4.img-agenda
                    p 9 a 11 de Abril
                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


