extends ./_layouts/hot-content.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    .container
        .row.bg-inverse.mg-120-top
            article.col-sm-12#content
                .control-text-mapa
                    h1.text-oceano.text-uppercase.bold AGENDA
                .row
                    .col-sm-10.col-sm-offset-1
                        .row.agenda-itens
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                            .col-xs-6.col-sm-4
                                .img-agenda
                                    p.text-oceano.bold 9 a 11 de Abril
                hr
                .control-text-mapa
                    h1.text-oceano.text-uppercase.bold MILLIONAIRE MIND INTENSIVE
                    h5.text-fundo.text-uppercase.bold.pd-20-top SÃO PAULO | 09 A 11 DE ABRIL
                    .control-text-mapa
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
                        |nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        | Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam 
                      

                        
                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


