extends ./_layouts/es.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    section#banner-principal(style="background-image: url(img/fundo.jpg)")
        .container
            .row
                .col-sm-12.banners.depoimento-topo
                    h4.titulo-topo.text-inverse.text-inverse Depoimentos
                    h3.bold.text-oceano.text-uppercase Conheça algumas <br>
                                | das histórias <br>
                                | que nos inspiram <br>
                                | todos os dias. <br>

    section#depoimentos-wrapper.section
        .container
            .row
                .col-sm-12
                    h3.bold.line DEPOIMENTOS
                .col-sm-12
                    .row
                        .arrowsPlace

                    .row#carroucel
                        .div-encv
                            each item in ['https://player.vimeo.com/video/228254337?title=0&byline=0&portrait=0', 'https://player.vimeo.com/video/228256169?title=0&byline=0&portrait=0' , 'https://player.vimeo.com/video/228256835?title=0&byline=0&portrait=0', 'https://player.vimeo.com/video/236148940?title=0&byline=0&portrait=0']
                                .col-sm-6.depoimento
                                    .embed-responsive.embed-responsive-4by3
                                        iframe(src=item, frameborder="0")
                        .div-encv
                            each item in ['https://player.vimeo.com/video/236148896?title=0&byline=0&portrait=0', 'https://player.vimeo.com/video/236148851?title=0&byline=0&portrait=0' , 'https://player.vimeo.com/video/236148815?title=0&byline=0&portrait=0', 'https://player.vimeo.com/video/236148781?title=0&byline=0&portrait=0']
                                .col-sm-6.depoimento
                                    .embed-responsive.embed-responsive-4by3
                                        iframe(src=item, frameborder="0")
   



block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")