extends ./_layouts/hot-content.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    .container
        .row.bg-inverse.mg-120-top
            article.col-sm-12#content
                .control-text-infraestrutura
                    h1.text-oceano.text-uppercase.bold Infraestrutura
                    .control-text-mapa
                        p Ficou muito tempo sendo preparado para você.Prepare-se para ele. 
                        ul.pd-40-top
                            li O seu evento com muito verde ao redor
                            li Lounge Vip com palco  para pocket
                            li Show, espaço para co- working
                            li Câmeras de alta resolução
                            li E mais de cinco mil vagas de estacionamento
                .row
                    .col-sm-10.col-sm-offset-1.pd-40-top
                        .row.infra-img
                            .col-sm-4
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/inauguracao.png", alt="Inauguração")
                            .col-sm-4
                                img.img-responsive.infra-img.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/area.png", alt="Inauguração")
                            .col-sm-4
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/capacidade.png", alt="Inauguração")

                        hr

                        .row.pd-40-bottom
                            .col-sm-12
                                #bannersInfra
                                    .image-banner-infra(style="background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/banner-infra-1.jpg)")
                                        .over-texto
                                            h3.text-oceano Foodpark
                                    .image-banner-infra(style="background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/infraestrutura/espaco-verde.png)")
                                        .over-texto
                                            h3.text-oceano Amplo espaço verde
                                            p.text-inverse para atender eventos abertos 
                                    .image-banner-infra(style="background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/infraestrutura/vip.png)")
                                        .over-texto
                                            h3.text-oceano Lounge Vip
                                            p.text-inverse com palco para pocket show
                                    .image-banner-infra(style="background-image: url(https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/infraestrutura/co-working.png)")
                                        .over-texto
                                            h3.text-oceano co-working
    

                    
                


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


