extends ./_layouts/hot-content.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    .container
        .row.bg-inverse.mg-120-top
            article.col-sm-12#content
                .control-text-mapa
                    h1.text-oceano.text-uppercase.bold o ATTITUDE <br>
                                                        | CONVENTION <br>
                                                        | CENTER: <br>
                    p.text-fundo.text-uppercase.font-large O Attitude convention Center está localizado <br>
                                                            | próximo as principais vias de acesso de São Paulo.

                #bannersGalery
                    img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/banner-1.jpg", alt="O ATTITUDE CONVENTION CENTER")
                    img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/sobre/foto-infraestrutura.png", alt="Infraestrutura")
                    img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/sobre/espaco-de-convivencia.png", alt="Espaço de Convivencia")
                    img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/sobre/espaco-verde.png", alt="Espaço Verde")

                .control-text-mapa                    
                    h4.bold.text-fundo.text-uppercase Grandes performances pedem mais Attitude.
                    .control-text-mapa
                        p Com um movimento de cerca de 209.2 bilhões nos últimos anos, o mercado brasileiro de eventos vem desafiando crises e destacando-se como um dos ramos de negócios cada vez mais próspero e competitivo. Com base neste dado positivo, nasce Attitude Convention Center tendo em sua concepção o espirito empreendedor e o mais alto nível de tecnologia e serviços.


                


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")


