block settings
    - var title = 'Attitude Convention Center'
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        include ../_partials/icons
        <link rel="apple-touch-icon" href="icon.png"> 
        title #{title}
        block CSS
            link(rel="stylesheet", href="css/plugins.css")

    body      
        #loader
            img.loader-img.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/loader.png", alt="Lodder")
        #wrraper.background.relative
            include ../_partials/menu.pug

            block header
                section#topo
                    header
                        .container-fluid
                            .row
                                .col-xs-2
                                    .inter-w.relative
                                        img.icone-interrogacao.img-responsive#icone-interrogacao(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/interrogacao.png", alt="Ajuda")
                                        .popLeft
                                            h6.text-center.text-oceano Conceito
                                            small.bold Attitude é ter o seu
                                                | próprio espaço para
                                                | eventos e convenções
                                                | em uma das regiões
                                                | mais nobres da cidade.
                                            img(src="img/seta-left.png", alt="")

                                .col-xs-8
                                    img.img-topo.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/logo-topo.png", alt="Logo")
                                .col-xs-2
                                    a(href="#")
                                        img.icone-menu.img-responsive(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/menu.png", alt="")         

    
            block content

            block footer
                footer.fixed
                    .container-fluid
                        .row
                            .col-xs-4.text-oceano.contato
                                p.bold 
                                    a(href="#") FALE CONOSCO
                            .col-xs-8.icone-face
                                p
                                    img(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/Hotsite-Convencoes/icon-face.png", alt="Facebook") 

                            




        block scriptsJS
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

            